<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AzCallhisMapper">
    
    <resultMap type="AzCallhis" id="AzCallhisResult">
        <result property="id"    column="id"    />
        <result property="phone"    column="phone"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUserId"    column="update_user_id"    />
    </resultMap>

    <sql id="selectAzCallhisVo">
        select id, phone, update_time, update_user_id from az_callhis
    </sql>

    <select id="selectAzCallhisList" parameterType="AzCallhis" resultMap="AzCallhisResult">
        <include refid="selectAzCallhisVo"/>
        <where>  
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
            <if test="updateUserId != null  and updateUserId != ''"> and update_user_id = #{updateUserId}</if>
        </where>
    </select>
    
    <select id="selectAzCallhisById" parameterType="Long" resultMap="AzCallhisResult">
        <include refid="selectAzCallhisVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAzCallhis" parameterType="AzCallhis" useGeneratedKeys="true" keyProperty="id">
        insert into az_callhis
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone != null and phone != ''">phone,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUserId != null">update_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
         </trim>
    </insert>

    <update id="updateAzCallhis" parameterType="AzCallhis">
        update az_callhis
        <trim prefix="SET" suffixOverrides=",">
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAzCallhisById" parameterType="Long">
        delete from az_callhis where id = #{id}
    </delete>

    <delete id="deleteAzCallhisByIds" parameterType="String">
        delete from az_callhis where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>