/*.iml
/*.class
/libraries/
.idea
/.idea/
/.svn/
/.settings/
/build/
/.metadata/
/bin/
/gen/
/webapp/WEB-INF/classes/
/webapp/data/
/webapp/logs/
/webapp/log/
/dist/
/target/
/log/
/logs/
/ruoyi/.idea/
.class
/.classpath
/.project
/project.properties
/lint.xml
/upgrade.log
/ruoyi-admin/target/
.iml